# App
DEBUG=True
SECRET_KEY=dev-only-do-not-use-in-prod-change-this-in-production
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=Europe/Madrid
LANGUAGE_CODE=es-es

# DB (Neon)
DB_NAME=mykaizenfit
DB_USER=your_neon_user
DB_PASSWORD=your_neon_password
DB_HOST=your_neon_host
DB_PORT=5432
DB_SSLMODE=require

# JWT
JWT_SECRET=your-jwt-secret-key-64-chars-long-change-in-production
JWT_REFRESH_SECRET=your-jwt-refresh-secret-key-64-chars-long-change-in-production
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
JWT_ROTATE_REFRESH=True
JWT_BLACKLIST_AFTER_ROTATION=True

# Redis / Cache
REDIS_URL=redis://localhost:6379/0

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_USE_TLS=True
DEFAULT_FROM_EMAIL="Nex-Fit <no-reply@nex-fit.local>"

# Uploads
UPLOAD_DIR=media/
MAX_AVATAR_MB=2
MAX_PROGRESS_PHOTO_MB=5

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000

# Logging
LOG_LEVEL=INFO

# Google Drive API (para videos de ejercicios)
# Opción 1: Service Account (recomendado para producción)
GOOGLE_DRIVE_CREDENTIALS_PATH=/app/google-drive-credentials.json
# Opción 2: API Key (más simple pero menos seguro)
# GOOGLE_DRIVE_API_KEY=tu-api-key-aqui

# ID de la carpeta de Google Drive donde están los videos
GOOGLE_DRIVE_FOLDER_ID=1dbDvVZKOwYJ4A13FtVslIid2JKLcN4fG
